<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="classpath*:/props/*.properties"/>
    <import resource="classpath:applicationContext-mapper.xml"/>

    <context:component-scan base-package="com.tianzhen.es"/>

    <!-- 2.配置Elasticsearch客户端连接对象
        cluster-nodes: 集群中的节点
        cluster-name: 集群的名称
     -->
    <elasticsearch:transport-client id="client"
                                    cluster-nodes="localhost:9300"
                                    cluster-name="cluster-es"/>

    <!-- 1.配置ElasticsearchTemplate模板对象 -->
    <bean id="elasticsearchTemplate"
          class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
        <!-- 设置客户端连接对象 -->
        <constructor-arg name="client" ref="client"/>
    </bean>

    <!-- 3.配置Elasticsearch数据访问接口，采用包扫描 -->
    <elasticsearch:repositories base-package="com.tianzhen.es"/>

</beans>