<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="classpath:rocketmq.properties"/>

    <!--############# 配置消息消费者 #############-->
    <!-- 配置默认的MQ消息消费者 -->
    <bean id="mqPushConsumer" class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer"
          init-method="start"
          destroy-method="shutdown">

        <!-- 设置消息模式: (广播BROADCASTING | 集群CLUSTERING) -->
        <property name="messageModel" value="CLUSTERING"/>
        <!-- 设置消费者组名 -->
        <property name="consumerGroup" value="ES_ITEM_CONSUMER"/>
        <!-- 设置NameServer地址 -->
        <property name="namesrvAddr" value="${namesrvAddr}"/>
        <!-- 设置消息监听器 -->
        <property name="messageListener" ref="messageListener"/>
        <!-- 设置订阅信息 -->
        <property name="subscription">
            <map>
                <!-- 指定主题和标签 -->
                <entry key="ES_ITEM_TOPIC" value="*"/>
            </map>
        </property>
    </bean>

    <!-- 配置消息监听器 -->
    <bean id="messageListener" class="com.tianzhen.search.mq.ItemMessageListener"/>
</beans>